body {
  margin: 0;
  height: 10vh;
}

h1 {
  font-size: 33px;
  font-family: "Hiragino Kaku Gothic Std", fantasy;
}

p {
  color: #91989F;
}

a {
  color: white;
}

textarea {
  font-size: 120%;
}

.main {
  height: 400px;
  margin: 50px;
}

.main textarea {
  width: 80%;
  height: 100px;
}

.header {
  background-color: #9370db;
  font-size: 30px;
  height: 40px;
  padding: 35px;
  color: white;
  font-family: "HiraKakuPro-W6", fantasy;
}

.footer {
  background-color: #483d8b;
  font-size: 15px;
  padding: 20px;
  height: 100%;
}

.content {
  width: 40%;
  float: left;
  margin: 20px;
}

.en {
  padding-left: 40px;
}

.de {
  padding-left: 80px;
}

.result {
  color: black;
}
