<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>mapher</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <div class="header">
    <div class="header-logo">mapher</div>
  </div>
  <div class="main">
    <div class="en content">
      <h1>暗号化したい文を入力してください</h1>
      <p>※使える文字はアルファベット・数字・%・&・[]・()・?・!・-・+・=・~・,・.・""・''・ です</p>
      <textarea id="encrypt-text" cols="30" rows="10"></textarea><br>
      <button id="encryption">暗号化</button>
      <p id="encrypted-text"  class="result">result...</p>
    </div>
    <div class="de content">
      <h1>復号化したい文を入力してください</h1>
      <p>※復号化できるのはこのサイトで暗号化した文のみです</p>
      <textarea id="decrypt-text" cols="30" rows="10"></textarea><br>
      <button id="decryption">復号化</button>
      <p id="decrypted-text" class="result">result...</p>
    </div>
  </div>
  <div class="footer">
    <div class="footer-logo">
    <a href="https://github.com/yuz77777/mapher">GitHub</a>
    </div>
  </div>
  <script src="../assets/scripts/script.js"></script>
</body>
</html>
